<div class="content" role="main">
  <highcharts-chart [Highcharts]="Highcharts"
  [options]="chartOptions"
  style="width: 100%; height: 400px; display: block; margin-bottom: 100px;">
  </highcharts-chart>
</div>
<app-piechart></app-piechart>
<app-donutchart></app-donutchart>
<app-drilldownchart></app-drilldownchart>
<app-line-chart></app-line-chart>
<app-areachart></app-areachart>
<app-areachart2></app-areachart2>
<app-area-splinechart></app-area-splinechart>
<app-stackbar-chart></app-stackbar-chart>
<router-outlet></router-outlet>
